.section .section-inner {
    background-color: #e3e3e3;
    padding: 30px;
}

.foto img {
    display: block;
    width: 100%;
}

.foto div {
    background: #ffffff;
    display: inline-block;
    margin: 0 auto 5% auto;
    padding: 10px 10px 5px;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
    z-index: 0;
    position: relative;
}

.foto div:after {
    color: #333;
    font-size: 25px;
    content: attr(title);
    position: relative;
    top: 15px;
}

.foto div:hover {
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    transform: scale(1.01);
    z-index: 10;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
}

.project-date {
    font-size: 16px;
    padding: 8px 15px 2px 15px;
    position: relative;
    z-index: -500;
    border-top: 5px solid #696969;
    border-radius: 0 0 5px 5px;
    background-color: #696969;
    color: white;
}

.project-title-settings {
    margin-top: 5%;
    font-size: 1.5em;
    font-weight: 500;
    letter-spacing: 3px;
    color: black;
    text-align: center;
}

.polaroid img {
    display: block;
    max-width: 200px;
}

.polaroid span {
    background: #ffffff;
    display: inline-block;
    margin: 55px 75px 30px;
    padding: 15px 15px 30px;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
    z-index: 0;
    position: relative;
}

.modal-inside .modal-content {
    background: white;
}
.modal-close {
    text-align: right;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
}

.close-icon {
    color: black;
}

.modal-description {
    text-align: justify;
    padding: 5px 5px 0 5px;
    margin-bottom: 20px;
    font-size: 16px;
}

.link-href {
    color: black;
}
